# -- Database Configuration -- #

DATABASE_DBMS="postgresql"
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_NAME="little-chef"
DATABASE_USER="little-chef-dev"
DATABASE_PASSWORD="little-chef-dev"
DATABASE_URL="postgresql://little-chef-dev:little-chef-dev@localhost:5432/little-chef?schema=public"

# -- Application Configuration -- #

APP_PORT=3000